In [14]:
import pymysql

conn = pymysql.connect(
host='127.0.0.1', 
user='webuser', 
password='webuser',
 db='pydb', 
charset='utf8')
cur = conn.cursor()
cur.execute("SELECT * FROM book")

print("ID    title    writer         ")
print("--------------------------------------------------------")

while (True):
    row = cur.fetchone()
    if row == None:
        break
    data1 = row[0]
    data2 = row[1]
    data3 = row[2]
    
    print("%5s   %15s   %15s \n" % (data1, data2, data3))
    # print(f" ID: {data1}, title: {data2}, writer: {data3}")

conn.close()

ID    title    writer
--------------------------------------------------------
    1             안드로이드                한빛

    2             안드로이드                한빛

    3         Oracle DB                한빛

    4            Spring                영딘

    5             안드로이드                한빛

    6             안드로이드                한빛

    7         Oracle DB                한빛

    8            Spring                영딘

In [23]:
def select_all():
  conn=pymysql.connect(host='localhost',
    user='webuser',
    password='webuser', 
    db='pydb', 
    charset='utf8')
  cursor=conn.cursor()
  sql="select * from book"
  cursor.execute(sql)
  for book in cursor:
    print(book)
  conn.close()
select_all()

(3, 'Spring3', '영딘3', 6503, '홍길동3')
(4, 'Spring', '영딘', 650, '홍길동')
(5, '안드로이드', '한빛', 650, '홍길동')
(6, '안드로이드', '한빛', 650, '홍길동')
(7, 'Oracle DB', '한빛', 650, '홍길동')
(8, 'Spring', '영딘', 650, '홍길동')
(9, '안드로이드', '한빛', 650, '홍길동')
(10, '안드로이드', '한빛', 650, '홍길동')
(11, 'Oracle DB', '한빛', 650, '홍길동')
(12, 'Spring', '영딘', 650, '홍길동')

In [19]:
def insert_book(data):
    conn=pymysql.connect(host='localhost',user='webuser',password='webuser', db='pydb', charset='utf8')
    cursor=conn.cursor()
    sql="insert into book(title,pub,pages,author) values(%s,%s,%s,%s)"
    cursor.execute(sql,data)
    conn.commit()
    conn.close()
    
data=('안드로이드','한빛',650,'홍길동')
insert_book(data)



def insert_book_list(datas):
    conn=pymysql.connect(host='localhost',user='webuser',password='webuser',db='pydb',charset='utf8')
    cursor=conn.cursor()
    sql="insert into book(title,pub,pages,author) values(%s,%s,%s,%s)"
    cursor.executemany(sql,datas)
    conn.commit()
    conn.close()
datas=[('안드로이드','한빛',650,'홍길동'),
 ('Oracle DB','한빛',650,'홍길동'),
 ('Spring','영딘',650,'홍길동')]
insert_book_list(datas)

In [22]:
def update_book(data):
    conn=pymysql.connect(host='localhost',user='webuser',password='webuser',db='pydb',charset='utf8')
    cursor=conn.cursor()
    sql="update book set title=%s,pub=%s,pages=%s,author=%s where id=%s"
    cursor.execute(sql,data)
    conn.commit()
    conn.close()
    
data=('안드로이드2','한솔2',6502,'홍길동2','1')
update_book(data)

def update_book_list(datas):
    conn=pymysql.connect(host='localhost',user='webuser',password='webuser',db='pydb',charset='utf8')
    cursor=conn.cursor()
    sql="update book set title=%s,pub=%s,pages=%s,author=%s where id=%s"
    cursor.executemany(sql,datas)
    conn.commit()
    conn.close()
    
datas=[('안드로이드1','한빛1',6501,'홍길동1','1'),
 ('Oracle DB2','한빛2',6502,'홍길동2','2'),
 ('Spring3','영딘3',6503,'홍길동3','3')]
update_book_list(datas)

In [ ]:
def delete_book(data):
    conn=pymysql.connect(host='localhost',user='webuser',password='webuser', 
    db='pydb', charset='utf8')
    cursor=conn.cursor()
    sql="delete from book where id=%s"

    cursor.executemany(sql,data)
    conn.commit()
    conn.close()

delete_book([1,2])
select_all()