In [14]:
import pymysql

conn = pymysql.connect(
host='127.0.0.1', 
user='webuser', 
password='webuser',
 db='pydb', 
charset='utf8')
cur = conn.cursor()
cur.execute("SELECT * FROM book")

print("ID    title    writer         ")
print("--------------------------------------------------------")

while (True):
    row = cur.fetchone()
    if row == None:
        break
    data1 = row[0]
    data2 = row[1]
    data3 = row[2]
    
    print("%5s   %15s   %15s \n" % (data1, data2, data3))
    # print(f" ID: {data1}, title: {data2}, writer: {data3}")

conn.close()

ID    title    writer
--------------------------------------------------------
    1             안드로이드                한빛

    2             안드로이드                한빛

    3         Oracle DB                한빛

    4            Spring                영딘

    5             안드로이드                한빛

    6             안드로이드                한빛

    7         Oracle DB                한빛

    8            Spring                영딘

In [13]:
def insert_book(data):
    conn=pymysql.connect(host='localhost',user='webuser',password='webuser', db='pydb', charset='utf8')
    cursor=conn.cursor()
    sql="insert into book(title,pub,pages,author) values(%s,%s,%s,%s)"
    cursor.execute(sql,data)
    conn.commit()
    conn.close()
    
data=('안드로이드','한빛',650,'홍길동')
insert_book(data)

def insert_book_list(datas):
    conn=pymysql.connect(host='localhost',user='webuser',password='webuser',db='pydb',charset='utf8')
    cursor=conn.cursor()
    sql="insert into book(title,pub,pages,author) values(%s,%s,%s,%s)"
    cursor.executemany(sql,datas)
    conn.commit()
    conn.close()
datas=[('안드로이드','한빛',650,'홍길동'),
 ('Oracle DB','한빛',650,'홍길동'),
 ('Spring','영딘',650,'홍길동')]
insert_book_list(datas)